@charset "UTF-8";

.SMN_effect-13 a {
    font-family: 'SUITE-Regular';
    text-shadow: none;
    padding: 10px 0;
  }
  
 .SMN_effect-13 a:before {
   color: #fff;
   text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
   content: attr(data-hover);
   position: absolute;
   -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
   -moz-transition: -moz-transform 0.3s, opacity 0.3s;
   transition: transform 0.3s, opacity 0.3s;
   pointer-events: none;
 }
 
 .SMN_effect-13 a:after {
   content: '';
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 2px;
   background: #fff;
   opacity: 0;
   -webkit-transform: translateY(5px);
   -moz-transform: translateY(5px);
   transform: translateY(5px);
   -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
   -moz-transition: -moz-transform 0.3s, opacity 0.3s;
   transition: transform 0.3s, opacity 0.3s;
   pointer-events: none;
 }
 
 .SMN_effect-13 a:hover:before, .SMN_effect-13 a:focus:before {
   opacity: 0;
   -webkit-transform: translateY(-2px);
   -moz-transform: translateY(-2px);
   transform: translateY(-2px);
 }
 
 .SMN_effect-13 a:hover:after, .SMN_effect-13 a:focus:after {
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   transform: translateY(0px);
 }